# Generated Image
results/*

# Latents
latents/*

__pycache__/
*.pyc

# Log & Results
wandb/*
global/wandb/*
global/results/*
mapper/*

# scripts
global/*.sh

# pretrained model 
global/npy/*
pretrained_models/*
global/*/*.pt
*.pth 
*.pt
ckpts/*

# not important files
*.csv
*.png
/env

/stylegan2/weights
/gpt2/weights/gpt2-pytorch_model.bin

/env

/stylegan2/weights
/gpt2/weights/gpt2-pytorch_model.bin
/.vscode