# Generated Image
results/*
global/Baseline+LOF/*
global/Random+LOF/*
global/Random+LOF-Diverse/*
global/Random+LOF-Image/*
global/Random+LOF-Image-Diverse/*


# pycache file
global/__pycache__/*
global/stylegan2/__pycache__/*
global/criteria/__pycache__/*
global/facial_recognition/__pycache__/*
global/dnnlib/__pycache__/*
*.pyc

# Log & Results
wandb/*
global/wandb/*
global/results/*
mapper/*

# scripts
global/*.sh

# pretrained model 
global/npy/*
pretrained_models/*
global/*/*.pt
*.pth 
*.pt
ckpts/*

# not important files
*.csv
*.png

